.secondary-text {
  font-size: 1rem;
  font-weight: 400;
  color: #5F5B5B;
  font-family: "Dm Sans", sans-serif;
}

.ac—Åent-text {
  font-size: 1rem;
  font-weight: 500;
  color: #676767;
  font-family: "Dm Sans", sans-serif;
}

.link-text {
  font-size: 1rem;
  font-weight: 500;
  color: #423FE5;
  font-family: "Dm Sans", sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.title-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #5E5BFB;
  font-family: "Dm Sans", sans-serif;
}

.title-variant-1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6366F1;
  margin-left: 33%;
  margin-right: auto;
  font-family: "Dm Sans", sans-serif;
}

.title-variant-2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #0C0A3E;
  font-family: "Dm Sans", sans-serif;
}

.title-variant-3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #6366F1;
  margin-left: auto;
  margin-right: 33%;
  font-family: "Dm Sans", sans-serif;
}


.button-primary {
  background-color: #423FE5;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text-input-primary {
  flex: 1;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1rem;
  color: #4A4A4A;
}

.centered-aligment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-aligment {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    
}

.right-aligment {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1rem;

}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem 2rem; 

}

.container {
    display: flex;
    
    width: 100%;
    
    flex-direction: column;
    padding: 2.5rem 2.5rem; 
    border-radius: 1rem;
    background-color: #EEEEEE;
    gap: 4rem;
    
}

.secondary-container {
    width: 100%;
}

.global-container {
    padding: 2rem 1rem; 
    background-color: #CBCAF0;
    min-width: 100vw;
    min-height: 100vh;
   
    display: flex; 
    flex-direction: column;
    box-sizing: border-box;
}
